@import url(//db.onlinewebfonts.com/c/bf9f5d50c1b928ff21436517a1a95ad9?family=Proxima+Nova);

@font-face {
  font-family: "Proxima Nova";
  src: url("//db.onlinewebfonts.com/t/bf9f5d50c1b928ff21436517a1a95ad9.eot");
  src: url("//db.onlinewebfonts.com/t/bf9f5d50c1b928ff21436517a1a95ad9.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/bf9f5d50c1b928ff21436517a1a95ad9.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/bf9f5d50c1b928ff21436517a1a95ad9.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/bf9f5d50c1b928ff21436517a1a95ad9.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/bf9f5d50c1b928ff21436517a1a95ad9.svg#Proxima Nova")
      format("svg");
}

body {
  margin: 0;
  padding: 0px 130px;
  background-color: #111111;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home_head {
  position: absolute;
  width: 540px;
  height: 260px;
  left: 200px;
  top: 264px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 65px;
}
.sub_head_text {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 13px 45px;
  gap: 10px;
  background: #1d1d1d;
  color: white;
  border-radius: 50px;
  font-family: "Proxima Nova";
  margin-top: 110px;
}
.sub_body_text {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 38px;
  color: white;
  margin-top: 35px;
}
.text {
  margin-top: 20px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 38px;
  color: white;
}
.color {
  color: white;
  margin-top: 130px;
}
.footer_text {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: white;
}
.founders_ {
  margin-top: 35px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0px;
}

.navbar-links {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links_logo p {
  font-size: 22px;
  color: white;
  font-family: "Proxima Nova";
}

.navbar-links_container {
  display: flex;
  flex-direction: row;
}

.navbar-links_container p a,
.navbar-menu_container p a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: white;
  font-family: "Proxima Nova";
  margin: 0px 15px;
  cursor: pointer;
  text-decoration: none;
}

.navbar-menu {
  display: none;
  margin-top: -20px;
  position: relative;
}

.navbar-menu svg {
  cursor: pointer;
}

.navbar-menu_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: end;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  width: 90vw;
  border-radius: 5px;
  background-color: #1d1d1d;
  opacity: 1;
}

@media screen and (max-width: 1180px) {
  .navbar-links_container {
    display: none;
  }

  .navbar-menu {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  .navbar {
    padding: 2rem 0px;
  }

  .navbar-menu_container {
    min-width: 270px;
  }
}
@media screen and (max-width: 1100px) {
  body {
    padding: 0px 75px;
  }
  .home_head {
    top: 200px;
    left: 170px;
  }
}
@media screen and (max-width: 800px) {
  body {
    padding: 0px 40px;
  }
  .home_head {
    top: 200px;
    left: 100px;
    font-size: 48px;
    line-height: 58px;
  }
  .founders_ {
    flex-direction: column;
  }
}
@media screen and (max-width: 576px) {
  .home_head {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    position: absolute;
    width: 335px;
    height: 259px;
    left: 20px;
    top: 115px;
    color: white;
  }
  .footer-info {
    flex-direction: column;
  }
  .founders_ {
    flex-direction: column;
    margin-top: 35px;
  }
  .sub_head_text {
    margin-top: 110px;
    line-height: 20px;
    font-size: 20px;
    top: 29px;
  }
  .sub_body_text {
    font-size: 18px;
    line-height: 34px;
  }
  .home_img {
    position: absolute;
    width: 335px;
    height: 259px;
    left: 20px;
    top: 315px;
  }
  #about {
    margin-top: 528px;
  }
  body {
    padding: 0px 20px;
  }
  .footer_text {
    text-align: center;
    padding: 0px 3.5rem;
  }
  .image-div {
    margin: 35px 0px;
  }
  .color {
    color: white;
    margin-top: 70px;
  }
}
